* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f4f2;
}

main {
  background-color: #f6f4f2;
}
img {
  width: 500px;
  height: 300px;
}

/* probar cambiar el tamaño en altura, agregar ancho, cambiar fixed, y cover, agregar no repeat */
#img1,
#img2,
#img3 {
  width: 100%;
  height: 500px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#dee {
  border-radius: 50%;
  margin-top: 2%;
  width: 300px;
}

/* ver como agregar variables con root para las imagenes  */
#img1 {
  background-image: url("../img/6.jpg");
}

/* cambiar id por otros selectores */
#img2 {
  background-image: url("../img/11.jpeg");
}

#img3 {
  background-image: url("../img/3.jpeg");
}
section {
  text-align: center;
  align-items: center;
}
h1,
h2 {
  text-align: center;
  color: #fff;
}

h1 {
  background-color: rgba(169, 169, 169, 0.459);
  border-radius: 50%;
  margin: 20px;
  width: 50%;
  font-size: 70px;
  font-family: "Mea Culpa", cursive;
  font-weight: 400;
}

h2 {
  background-color: rgba(169, 169, 169, 0.459);

  font-size: 70px;
  font-family: "Mea Culpa", cursive;
  font-weight: 400;
  padding-top: 30px;
}
h3 {
  font-family: "Mea Culpa", cursive;
}

p {
  font-size: 20px;
  padding: 50px;
  letter-spacing: 3px;
}
li {
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-align: center;
}
ol {
  text-align: center;
  margin-top: 70px;
}
.red {
  text-align: start;
  width: 100px;
  padding: 10px;
}
.red,
a {
  text-align: center;
}

.navbar {
  background-color: transparent !important;
}
.nav-pills .nav-link {
  border-radius: 50px;
  margin: 0 5px;
  color: white !important;
}

.nav-link:hover {
  border: 1px, solid, white;
  background-color: rgba(128, 128, 128, 0.397);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.nav-item {
  list-style: none;
  margin: 20px;
}
.nav-item:focus-visible {
  outline: invert;
}

#contacto {
  background-color: rgba(169, 169, 169, 0.459);
}

footer {
  text-align: end;
}
footer,
a {
  color: white;
  background-color: gray;
}
.carousel-item img {
  object-fit: cover;
  height: 400px; /* Ajusta esta altura según tus necesidades */
}
